#board{
        background-color: white;
        width: 50%;
        height: 50%;
        position: absolute;
}
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index:-1;
}
#player1{
    position: absolute;
    top: 620px;
    left: 100px;
    width: 30px;
    height: 30px;
}
thead{
    padding-bottom: 100px;
}

#board tr:nth-child(3) td:nth-child(3){
    background-color: yellow;
}
#board tr:nth-child(6) td:nth-child(1){
    background-color: pink;
}