body{
    background-color: #1f2833;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: medium;
    color: #c5c6c7;
}
#main{
    position: relative;
    width: 1000px;
    height: 650px;
}
#board{
    width: 100%;
    height: 100%;
    background-color: #1f2833;
    position: absolute;
    z-index:-1;
}
#canvas{
    width: 100%;
    height: 100%;
    position:relative;
}
#player1{
    position: absolute;
    width: 30px;
    height: 30px;
}

thead{
    padding-bottom: 100px;
}

#board tr:nth-child(3) td:nth-child(3){
    background-color: #45a29e;
}
#board tr:nth-child(6) td:nth-child(1){
    background-color: #00a1c9;
}

td{
    background-color: #1f2833;
    border: #45a29e solid 1px;
}